/************RESET***************/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Kanit', sans-serif;
    background-color: #000;
    color: #fff;
}
ol, ul {
	list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    transition: .35s;
}

a:hover{
    color: #9b1414;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
   /* margin-left: auto;
    margin-right: auto;*/
	border-collapse: collapse;
	border-spacing: 0;
}


/***********GENERAL***********/


input, textarea, select{
    padding-left: .5rem;
    margin: .5rem 0;
    max-width: 250px;
}




/****************nav**************/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #9b1414;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #9b1414;
    color: white;
  }

  .container-main *{
    font-size: 20px;
    }
    

  /***********nav-large**************/

nav{
    background-color: #9b1414;
}


nav li{
    transition: .35s;
    padding: 1rem 0;
}

nav li:hover{
    background-color: #b31f1f;
}

nav li a{
    color: #fff;
    padding: 1rem;
}

nav li a:hover{
    color: #fff;
}


/*************form-film**************/
thead th{
    font-size: 30px!important;
}

fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/********homepage*********/

.container-home{
    min-height: 90vh;
    animation: slider 15s linear alternate infinite;
    background-size: cover;
    background-position: top center;
    width: 100%;
}


@keyframes slider {
    0% {
        background-image: url(../img/Avatar.jpg);
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
    }
  
    30% {
      background-image: url(../img/batman.jpg);
         animation-timing-function: ease-in-out;
        animation-duration: 3s;
    }
   
   
  
    60% {
      background-image: url(../img/seigneur.jpg);
         animation-timing-function: ease-in-out;
        animation-duration: 3s;
    }
      
    
  
    100% {
      background-image: url(../img/violence.jpg);
         animation-timing-function: ease-in-out;
        animation-duration: 3s;
    }
  }




  /*************CLASS**********/


  .container{
    margin-left: auto;
    width: 80%;
    margin-right: auto;
  }

  .container-main{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-formFilm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 100%;
    gap: 2rem;
}

.container-formFilm form{
    justify-content: center;
   
}

.container-formFilm form *{
    font-size: 16px;
}



.container-main h3{
    font-size: 45px;
}

.flex{
    display: flex;
}

.gap{
    gap: 1rem;
}

.gap-05{
    gap:.5rem;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.title-home{
    font-size: 48px;
    background: #0000008a;
    padding: 1rem;
}

.txt-center{
    text-align: center;
}

.pad-025{
    padding: 0 .25rem;
}

.pad-x1{
    padding: 1rem;
}

.pad-x2{
    padding: 2rem;
}

.width-400{
    max-width: 400px;
}

.table-film{
    margin: .5rem;
    flex-grow: 1;
}

.btn{
    cursor: pointer;
    color: #fff;
    padding: 0.35rem 1.5rem;
    background: rgb(0,0,0);
    transition: .35s;

}

.form-style{
    margin: 0 2rem;
    padding: 1.5rem;
    background-color: #b31f1f;
    justify-content: center;
   
}

.form-style *{
    font-size: 16px;
}

.h4{
    font-size: 22px!important;
}

#nav-large{
    display: none;
}

.bg-bordeau{
    border:1px solid #9b1414;
}

.card-actor{
width: 100%;
text-align: left;
margin: 1rem 0;
}

.card-actor th, td{
    padding: 0 .5rem;
    }

.card-real{
    margin: 1rem 0;
}

.card-real tbody{
    text-align: left;
}
/********* list actor/real *********/


.actor-real-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.marg-05{
    margin-right: .5rem;
}

@media screen and (min-width: 640px) {
    .topnav{
        display: none;
    }

    #nav-large{
        display: flex;
    }


    .body-actor-real{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    input{
        max-width: 500px;
    }
  }


  @media screen and (min-width: 850px) {

    .body-actor-real{
        grid-template-columns: 1fr 1fr 1fr;
    }

  }